<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1> Salut, <%= @reservation.user.email %> a réservé dans ton établissement !</h1>
    <p>
      La réservation est pour <%= @reservation.number %> personnes, le <%= @reservation.date.strftime("%d/%m/%Y") %> à <%= @reservation.time.strftime("%H:%M") %>
    </p>
    <p>
      Pour accéder à ton espace professionel, connecte-toi via : <%= @url %>
    </p>
    <p> À très vite sur monsite.fr ! </p>
  </body>
</html>